body { background: #cc0000; color: white; font-family: Arial, sans-serif; }

:link, :visited, :active { color: white; text-decoration: none; }
a:hover { color: #cc0000; background: white; }

img { border: 0; }

p { text-align: center; }

h4 { padding: -1px -1px -1px -1px    }

ul { list-style-type: none }
li { margin-left: -1.5em; }

dt { 
	font-weight: bold;
	padding: 1em 0em 0.3em 0em;
}

dd { margin-left: -1em; }



